/* 搜索页样式 */
.common_search{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-height: 60rem;
  padding: 10rem 1.5rem;
  background-color: #fff;
  animation: search 0.3s ease-in-out;
  opacity: 1;
  line-height: 1.2;
  box-sizing: border-box;
  z-index: 999;
  .el-icon-close{
    position: fixed;
    top: 4rem;
    right: 4rem;
    font-size: 3.2rem;
    font-weight: bold;
    color: #020000;
    cursor: pointer;
  }
  .wrap{
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 10rem;
    .left{
      width: 50%;
      height: 100%;
      background: #fff;
      display: flex;
      flex-direction: column;

      .search_input{
        position: relative;
        height: 12rem;
        margin-bottom: 7rem;
        input{
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          border: none;
          border-radius: 0.8rem;
          width: 100%;
          height: 100%;
          font-weight: 300;
          font-size: 25px;
          color: #fff;
          background: #3545ee;
          padding: 1.5rem 5rem 1.5rem 3rem;
          box-sizing: border-box;
          animation: inputAnime 0.4s ease-in-out 0.4s forwards;
          &::placeholder{
            color: #fff;
          }
        }
        i{
          position: absolute;
          top: 50%;
          right: 2rem;
          transform: translateY(-50%);
          color: #fff;
          font-size: 3.4rem;
          font-weight: bold;
          cursor: pointer;
        }
      }
      .posts_wrap{
        padding: 0 6rem 0 3rem;
        overflow: auto;
        &::-webkit-scrollbar {
          /*滚动条整体样式*/
          width : 0.5rem;  /*高宽分别对应横竖滚动条的尺寸*/
          height: 1px;
        }
        &::-webkit-scrollbar-thumb {
          /*滚动条里面小方块*/
          border-radius: 1rem;
          box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
          background   : #e8e8e8;
        }
        &::-webkit-scrollbar-track {
          /*滚动条里面轨道*/
          background   : #fff;
        }
        h3,
        .newPost_item{
          margin-bottom: 2rem;
        }
        h3{
          font-size: 2rem;
          color: #020000;
        }
        .newPost_item{
          font-size: 1.6rem;
          color: $title-color;
        }
        .newPost {
          margin-bottom: 5rem;
          ul{
            border-left: 1px solid rgba(0,0,0,.1);
            li{
              position: relative;
              padding-left: 2rem;
              &::before{
                position: absolute;
                left: calc(0% - 0.4rem);
                top: calc(50% - 0.4rem);
                content: '';
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 50%;
                background: #7f7f7f;
              }
            }
          }
        }
      }
    }
    .right{
      width: 50%;
      height: 100%;
      padding-left: 12rem;
      animation: rightwidth 0.5s ease-in-out;
      opacity: 1;
      overflow: auto;
      &::-webkit-scrollbar {
        /*滚动条整体样式*/
        width : 0.5rem;  /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
      }
      &::-webkit-scrollbar-thumb{
        /*滚动条里面小方块*/
        border-radius: 1rem;
        box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
        background   : #e8e8e8;
      }
      &::-webkit-scrollbar-track{
        /*滚动条里面轨道*/
        background   : #fff;
      }
      .el-loading-spinner .path{
        stroke: rgba(0,0,0,.8);
      }
      .result_wrap{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 4rem;
        .resNull{
          display: block;
          text-align: center;
          padding: 1rem;
          font-size: 1.8rem;
          font-weight: bold;
          border: 2px dashed #ddd;
        }
        .common_blockPost{
          .tag,
          .post_publishMsg{
            font-size: 1.2rem;
          }
          .author{
            font-size: 1.4rem;
            font-weight: bold;
            margin-right: 2rem;
          }
          .post_publishMsg{
            i{
              margin-right: 0.4rem;
            }
          }
          .post_content{
            display: none;
          }
          &:nth-child(1){
            position: relative;
            color: #fff;
            width: 100%;
            height: 32rem;
            overflow: hidden;
            margin-bottom: 4rem;
            .img_wrap{
              width: 100%;
              height: 100%;
              a:nth-child(1){
                display: inline-block;
                width: 100%;
                height: 100%;
              }
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .tag{
                position: absolute;
                top: 8rem;
                left: 4rem;
                color: #fff;
                padding: 0.3rem 1rem;
                border-radius: 0.4rem;
              }
            }
            .post_title{
              position: absolute;
              top: 15rem;
              left: 4rem;
              width: 60%;
              line-height: 1.4;
              font-size: 2.2rem;
              a{
                color: #fff;
              }
            }
            .post_publishMsg{
              position: absolute;
              top: 24rem;
              left: 4rem;
              color: #fff;
              .author{
                color: #fff;
              }
            }
          }
          &:nth-child(2),
          &:nth-child(3){
            width: 50%;
            box-sizing: border-box;
            .img_wrap{
              position: relative;
              margin-bottom: 2rem;
              font-size: 0px;
              img{
                width: 100%;
              }
            }
            .tag{
              position: absolute;
              bottom: 0;
              left: 0;
              padding: 0.3rem 1rem;
              border-radius: 0.4rem;
              border-bottom-left-radius: 0px;
              font-size: 1.2;
              color: #fff;
            }
            .post_title{
              font-size: 1.6rem;
              margin-bottom: 1.5rem;
            }
          }
          &:nth-child(2){
            padding-right: 2rem;
          }
          &:nth-child(3){
            padding-left: 2rem;
          }
        }
      }
      .more{
        text-align: center;
        span{
          display: inline-block;
          padding: 1.2rem 2rem;
          background: #020000;
          font-size: 1.5rem;
          border-radius: 2rem;
          color: #fff;
          cursor: pointer;
          transition: all 0.3s;
          &:hover{
            padding-left: 3rem;
            padding-right: 3rem;
            background: #1a1a1a;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

// search页面动画
@keyframes search {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
    border-radius: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 0;
  }
}
// search右侧区域动画
@keyframes rightwidth {
  0%{
    width: 0;
    opacity: 0;
  }
  100%{
    width: 50%;
    opacity: 1;
  }
}
// input输入框动画
@keyframes inputAnime {
  0%{
    width: 0;
    left: 50%;
    padding: 0 0 0 0;
    opacity: 0;
  }
  100%{
    width: 100%;
    left: 0;
    padding: 1.5rem 5rem 1.5rem 3rem;
    opacity: 1;
  }
}
