/* 头部样式 */
header{
  height: 7rem !important;
  line-height: 7rem;
  border-bottom: 1px solid rgba(0,0,0,.05);
  .common_header{
    display: flex;
    justify-content: space-between;
    h1{
      height: 7rem;
      a{
        display: inline-block;
        height: 100%;
        img{
          height: 100%;
        }
      }
    }
    .menu{
      display: flex;
      overflow: hidden;
      li {
        position: relative;
        a {
          display: inline-block;
          color: rgba(0,0,0,.8);
          height: 100%;
          padding: 0 2.5rem;
        }
        &::before, .router-link-active::before{
          position: absolute;
          top: auto;
          right: 0;
          bottom: 0;
          left: 0;
          display: block;
          content: "";
          height: 0.3rem;
          transform: translateY(0.3rem);
          background: #020000;
          transition: all 0.3s ease-out;
        }
        .router-link-active::before{
          transform: translateY(0);
        }
        &:hover::before{
          transform: translateY(0);
          transition: all 0.3s ease-out;
        }
      }
    }
    .search_wrap{
      padding: 0 8rem;
      transition: background-color .3s;

      cursor: pointer;
      i{
        font-weight: bold;
        font-size: 1.6rem;
      }
      &:hover{
        background-color: #020000;
        color: #fff;
        transition: background-color .3s;
      }
    }
    .menu_small{
      display: none;
    }
  }
}

